---
import Layout from "../layouts/main.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("posts");
---

<Layout title="Welcome to Astro.">
  {posts.map(({ data }) => <p>{data.title}</p>)}
</Layout>
