---
import { getEntry } from "astro:content";
import Layout from "../layouts/main.astro";

const record1 = await getEntry("config", "fedcba987654321");
const record2 = await Astro.locals.pocketbase.collection("config").getOne("fedcba987654321");
console.log(record1.data.created, record2.created);
---

<Layout title="Welcome to Astro.">
  <main></main>
</Layout>
