---
import { getEntry } from "astro:content";
import Layout from "../layouts/main.astro";

const record = await getEntry("config", "fedcba987654321");
console.log(record);
---

<Layout title="Welcome to Astro.">
	<main>
	</main>
</Layout>


