---
import { getEntry } from "astro:content";
import Layout from "../layouts/main.astro";
import { getCollection } from "astro:content";

const knowledges = await getCollection("knowledges");
---

<Layout title="Welcome to Astro.">
  {knowledges.map(({ data }) => <p>{data.name}</p>)}
</Layout>
